<%= simple_form_for([@book, @edition], html: { multipart: true, class: 'form-inline' }) do |f| %>

  <% if @edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edition.errors.count, "error") %> prohibited this edition from being saved:</h2>

      <ul>
      <% @edition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :pub_year %>
  <br /><br />
  <%= f.input :country, priority: [ "United States", "United Kingdom", "Canada" ] %>
  <br /><br />
  <%= f.input :number_printed %>
  <br /><br />
  
  <%= f.collection_radio_buttons :edition_type, edition_types.collect { |k,v| [k, v] }, :first, :last %>
  <br /><br />

  <h3>Book Images:</h3>
  <%= f.input :cover, as: :file %>
  <br /><br />
  <%= f.input :copyright_page, as: :file %>
  <br /><br />

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>