<%= simple_form_for([@book, @edition], html: { multipart: true, class: 'form-inline' }) do |f| %>

  <% if @edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edition.errors.count, "error") %> prohibited this edition from being saved:</h2>

      <ul>
      <% @edition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :pub_year %>
  <br />
  
  <%= f.collection_radio_buttons :edition_type, [['thus', 'First Edition, Thus'] ,['true', 'True First Edition']], :first, :last %>
  <br />

  <%= f.input :cover, as: :file %>
  <br /><br />
  <%= f.input :copyright_page, as: :file %>
  <br /><br />

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>