<!-- form-inline or form-horizontal -->
<%= simple_form_for(@book, html: { class: 'form-inline' }) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, :input_html => {:maxlength => 15, :size => 50} %>
  <br />
  <%= f.input :author, :input_html => {:maxlength => 15, :size => 50} %>

  <%= f.input :wikipedia, :label => "Wikipedia URL", :input_html => {:maxlength => 15, :size => 50} %>

  <%= f.input :goodreads, :label => "Goodreads URL", :input_html => {:maxlength => 15, :size => 50} %>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
