<p id="notice"><%= notice %></p>

<%= link_to 'New Book', new_book_path %>

<h1>Known First Editions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Links</th>
      <th>First Editions</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td><%= link_to "Wikipedia", book.wikipedia %>
            <br /><%= link_to "Goodreads", book.goodreads %></td>
        <td><%= book.editions.length %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
