<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <fieldset>
    <strong>First editions:</strong><br />
    <% @book.editions.each do |e| %>
      <%= link_to edition_types[e.edition_type] + " (" + e.pub_year.to_s + ")", [@book, e] %> <%= image_tag e.cover.url(:thumb) %><br />
    <% end %>
    <br /><br />
    <%= link_to 'Add First Edition', new_book_edition_path(@book) %>
  </fieldset>
</p>

<p><%= link_to "Wikipedia Link", @book.wikipedia %></p>

<p><%= link_to "Goodreads Link", @book.goodreads %></p>

<%= link_to 'Edit', edit_book_path(@book) %>
<br />
<%= link_to 'Back to Books', books_path %>
